.header {
  display: block;
  margin: 0 auto;
  width: 100%;
  padding: 44px 20px;
  height: 230px;

  max-width: 1280px;
  min-height: 216px;
  margin-left: auto;
  margin-right: auto;

  font-family: $font-family;
  font-weight: 500;
  color: $white-text-color;

  background-color: #2a2a2a;
  background-image: url(../images/header-mobile-bg.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    padding: 49px 33px;
    height: 216px;
    background-image: url(../images/header-tablet-bg.jpg);
  }

  @media screen and (min-width: 1280px) {
    padding: 49px 32px;
    height: 216px;
    background-image: url(../images/header-desktop-bg.jpg);
  }
}

.menu {
  display: flex;
}

.navigation__container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 41px;
  max-width: 320px;

  // padding-left: 20px;
  // padding-right: 20px;
  // padding-top: 44px;

  @media screen and (max-width: 767px) {
    margin-bottom: 45px;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    max-width: 768px;
    // padding-left: 33px;
    // padding-right: 33px;
    // padding-top: 49px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 1280px;
    // padding-left: 32px;
    // padding-right: 32px;
    // padding-top: 49px;
  }
}

.logo {
  display: flex;
  align-self: flex-end;
  text-decoration: none;
  font-style: none;

  @media screen and (max-width: 767px) {
    margin-right: 112px;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin-right: 303px;
  }

  @media screen and (min-width: 1280px) {
    margin-right: 564px;
  }
}

.logo__svg {
  width: 24px;
  height: 24px;
  align-self: center;
  fill: $white-text-color;

  @media screen and (min-width: 768px) and (max-width: 1267px) {
    margin-right: 10px;
  }

  @media screen and (min-width: 1280px) {
    margin-right: 12px;
  }
}

.logo__text {
  font-size: 30px;
  line-height: 35 / 30;
  font-weight: 500;
  color: $white-text-color;

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    display: inline-block;
  }
  @media screen and (min-width: 1280px) {
    display: inline-block;
  }
}

.menu__item {
  position: relative;

  &:not(:last-child) {
    margin-right: 39px;
  }
}

.menu__link {
  font-size: 12px;
  line-height: 1.16;
  color: $white-text-color;
  text-decoration: none;
  font-style: none;
}

.menu__link.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -7%;

  width: 100%;
  height: 3px;
  border-radius: 2px;

  background-color: $red-color;
}

.search {
  display: flex;
  position: relative;

  width: 100%;
  max-width: 394px;
  margin: 0 auto 22px;

  justify-content: center;
}

.search__input {
  width: 100%;
  height: 30px;
  padding: 4px 0;

  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 0.5px solid $white-text-color;
  outline: none;

  background-color: transparent;

  color: $white-text-color;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.17;

  &::placeholder {
    color: $white-text-color;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    // width: 336px;
  }

  @media screen and (min-width: 1280px) {
    // width: 336px;
  }
}

.search__button {
  position: absolute;
  right: 0;
  bottom: 4px;

  width: 20px;
  height: 20px;
  border: none;
  outline: none;
  background-color: transparent;
}

.search__button-icon {
  position: absolute;
  right: 0;
  width: 12px;
  height: 12px;
  bottom: 2px;
  stroke: $white-text-color;
}

.search__error-message {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  width: 100%;
  padding-top: 20px;
  transform: translateX(-50%);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;

  color: $red-color;
}
.search__error-message.active {
  display: block;
}
