// .modal__open {
//     border: none;
//     cursor: pointer;
//     background-color: black;
//     padding: 10px;
//     color: white;
// }

.modal__card-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    padding: 20px 0 40px 0;
    z-index: 1000;
    @include tab{
            padding: 0;
        }
    @include desk{
            padding: 0;
        }
    

}


.modal__card-overlay--active {
    opacity: 1;
    visibility: visible;
    transition: all 0.5s ease-in-out;
}

.modal__card--active {
    display: block;
}

.modal__card-content {
        width: 280px;
        height: 100%;
        padding: 48px 20px 20px 20px;
        position: relative;
        background-color: white;
        border-radius: 5px;
        overflow-x: hidden;
        overflow-y: auto;
        z-index: 1001;


    @include tab {
        display: flex;
        width: 704px;
        height: 552px;
        padding: 40px 72px 40px 36px;
        position: relative;
        background-color: white;
        border-radius: 5px;


    }

    @include desk {
        display: flex;
        width: 806px;
        height: 558px;
        padding: 40px 12px;
        position: relative;
        background-color: white;
        border-radius: 5px;


    }
}

.modal__close {
        position: absolute;
        top: 0;
        left: 90%;
        margin: 8px;
        width: 14px;
        height: 14px;
        cursor: pointer;
        
            &:hover {
                fill: skyblue;
            }

 

        @include tab {
        position: absolute;
        left: 96%;
        
      
       
    }

    @include desk {
        position: absolute;
                left: 96%;
        
    

      
    }
}

.modal__img {
    display: block;
    margin-bottom: 20px;

    

    @include tab {
        width: 264px;
        height: 374px;
        margin-right: 68px;
        margin-bottom: 0;
    }

    @include desk {
        width: 375px;
        height: 478px;
        margin-right: 16px;
        margin-bottom: 0;

    }

}

.modal__info {
    width: 240px;


    @include tab {
        width: 264px;
    }

   @include desk {
        width: 391px;
    }
}

.discription__modal {
    list-style: none;
    padding: 0;

    &>*:not(:last-child) {
        margin-bottom: 8px;
    }

    &>*:last-child {
        margin-bottom: 20px;
    }

}

.modal__info-title {
    font-family: $font-family;
    font-weight: 500;
    font-size: 20px;
    line-height:115%;
    margin: 0 0 20px 0;
    color: #000000;
  

}

.discription__modal-item {
    display: flex;
    align-items: center;

}

.discription__modal-title {
    white-space: nowrap;
    width: 67px;
    margin: 0 40px 0 0;
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weight;
    font-style: $font-style;
    line-height: $line-height;
    color: #8C8C8C;
    
}

.discription__modal-text {
    white-space: nowrap;
    max-width: 107px;
    margin: 0;
    font-family: $font-family;
    font-size: $font-size;
    line-height: 116%;
    font-weight: $font-weight;
    color: $black-text-color;
    
    
}
.discription__modal-text span{
    font-weight: $font-weight;
    font-size: $font-size;
    line-height: 116%;
    color:$white-text-color;
    font-family: $font-family;
    font-style: $font-style;
    padding: 1px 9px;
    background-color: #FF6B01;
    border-radius: 5px;

    

}

.about__modal-title {
    margin: 0 0 8px 0;
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weight;
    font-style: $font-style;
    line-height: $line-height;
    color:$black-text-color;
}

.about__modal-text {
    font-size: $font-size;
    line-height: 166%;
    font-family: $font-family;
    font-weight: $font-weight;
    color: $black-text-color;
    margin: 0 0 20px 0;

}

.modal__button {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    @include tab {
       
            justify-content: flex-start;
           
    }
    @include desk{
    
            justify-content: flex-start;
    }
    

}

.modal__btn-add {
    padding: 13px 10px;
    display: inline-block;
    font-size: $font-size;
    font-family: $font-family;
    font-weight: $font-weight;
    color: $black-text-color;
    line-height: $line-height;
    text-align: center;
    padding: 13px;
    border: 1px solid $black-text-color;
    border-radius: 5px;
    text-transform: uppercase;
    transition: background-color 0.5s ease-in-out;
    &:hover {
        background-color: #fde7d7;
        
    }
        &:not(:last-child) {
            margin-right: 20px;
        }
   
     @include tab{
        &:not(:last-child) {
                margin-right: 15px;
            }
       
        padding: 13px 7px;
        
    }
}