.movies__item {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}
// задать ширину, высоту
.movie__text-part {
  display: flex;
  flex-direction: column;
  border: 1px solid #eeeeee;
}

.portfolio-short {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  border: 1px solid #eeeeee;
  padding-left: 24px;
}

.movie__title {
  font-family: Roboto;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-align: left;
  color: #000000;
  @include desk {
    font-size: 20px;
    line-height: 1.2;
  }
}

.movie__genre .stick .movie__year {
  font-family: Roboto;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-align: left;
  color: #ff6b08;
  @include desk {
    font-size: 20px;
    line-height: 1.2;
  }
}
