.placeholder {
  display: none;
  position: relative;
  height: 100vw;
  margin-top: 40px;

  @media screen and(min-width:320px) {
    background-image: url(../images/mobile-placeholder.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
  }

  @media screen and(min-width:480px) {
    background-size: contain;
  }
}

.library__placeholder-text {
  position: absolute;
  top: 50%;
  left: 10%;
  font-size: 50px;
  color: white;
  text-align: center;

  @media screen and(min-width:320px) {
    font-size: 20px;
    width: 200px;
    left: 20%;
  }

  @media screen and(min-width:480px) {
    top: 30%;
  }

  @media screen and(min-width:768px) {
    background-size: contain;
    font-size: 50px;
    width: 450px;
  }

  @media screen and(min-width:1200px) {
    background-size: contain;
    width: 100%;
    left: 0;
  }
}
