p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  display: block;
  font-style: none;
  text-decoration: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}
