$footerBackgroundColor: #f7f7f7;
$textColor: #545454;

$font-family: Roboto, sans-serif;
$font-size: 12px;
$font-weight: 500;
$font-style: normal;
$line-height: calc(16 / 12);

$black-text-color: #000000;
$white-text-color: #ffffff;
$red-color: #ff001b;
$orange-color: #ff6b08;
