@import './variables';
@import './mixin.scss';
@import './utils';
@import './container.scss';
@import './header.scss';
@import './modal.scss';
@import './movie-list.scss';
@import './movie-card.scss';
@import './pagination';
@import './footer.scss';
@import './footer-modal.scss';
@import './modal.scss';
@import './header-libary';
@import './loader';
