<section class="movies">
    <ul class="movies__list">
        <li class="movies__item">
            <a href="" class="movies__link">
                <img src="../images/Rectangle 12.jpg" alt="Movie">
                <div class="movie__text-part">
                    <h1 class="movie__title">MONSTER HUNTER</h1>
                    <p class="movie__genre">Drama, Action <span class="stick">|</span> 
                        <span class="movie__year"></span> 2020</p>
                </div>
            </a>
        </li>
    </ul>
</section>


