<div class="backdrop is-hidden">
    <div class="modal">
         <ul class="modal__developers">
            <li class="modal__developer">
                <img class="modal__dev-img" src="./images/Ellen.jpg" alt="Ellen">
                <a class="modal__link" href="https://github.com/Lena-Stukalo">
                <img class="modal__github-icon" src="./images/github.svg" alt="Github-logo" width="30">
                </a>
                <p class="modal__text">Ellen</p>
                <p class="modal__text-role">Team Lead</p>
            </li>
            <li class="modal__developer">
                <img class="modal__dev-img" src="./images/Anna.jpeg" alt="Anna">
                <a href="https://github.com/AnnaMels">
                <img class="modal__github-icon" src="./images/github.svg" alt="Github-logo" width="30">
                </a>
                <p class="modal__text">Anna</p>
                <p class="modal__text-role">Scrum Master</p>
            </li>
            <li class="modal__developer">
                <img class="modal__dev-img" src="./images/Pavlov.jpg" alt="Aleksandr">
                <a href="https://github.com/AleksandrPav">
                <img class="modal__github-icon" src="./images/github.svg" alt="Github-logo" width="30">
                </a>
                <p class="modal__text">Aleksandr</p>
                <p class="modal__text-role">Developer</p>
            </li>
            <li class="modal__developer">
                <img class="modal__dev-img" src="./images/Oleksii.jpg" alt="Oleksii">
                <a href="https://github.com/lehahorban">
                <img class="modal__github-icon" src="./images/github.svg" alt="Github-logo" width="30">
                </a>
                <p class="modal__text">Oleksii</p>
                <p class="modal__text-role">Developer</p>
            </li>
            <li class="modal__developer">
                <img class="modal__dev-img" src="./images/Mykola.jpg" alt="Mykola">
                <a href="https://github.com/MykolaHrytsenko">
                <img class="modal__github-icon" src="./images/github.svg" alt="Github-logo" width="30">
                </a>
                <p class="modal__text">Mykola</p>
                <p class="modal__text-role">Developer</p>
            </li>
            <li class="modal__developer">
                <img class="modal__dev-img" src="./images/Yurii.jpg" alt="Yurii">
                <a href="https://github.com/NovichenkoYura">
                <img class="modal__github-icon" src="./images/github.svg" alt="Github-logo" width="30">
                </a>
                <p class="modal__text">Yurii</p>
                <p class="modal__text-role">Developer</p>
            </li>
            <li class="modal__developer">
                <img class="modal__dev-img" src="./images/Serhii.jpeg" alt="Serhii">
                <a href="https://github.com/serhiiarkhypiuk">
                <img class="modal__github-icon" src="./images/github.svg" alt="Github-logo" width="30">
                </a>
                <p class="modal__text">Serhii</p>
                <p class="modal__text-role">Developer</p>
            </li>
            <li class="modal__developer">
                <img class="modal__dev-img" src="./images/Kushneruk.jpg" alt="Serhii">
                <a href="https://github.com/svkushneruk">
                <img class="modal__github-icon" src="./images/github.svg" alt="Github-logo" width="30">
                </a>
                <p class="modal__text">Serhii</p>
                <p class="modal__text-role">Developer</p>
            </li>
        </ul>
    </div>
</div>