<header class="header_libary">
    <div class="header_container">

        <div class="header_wrapper">
    
            <div class="header_title-wrapper">
            <a class="header_logo-link" href="./index.html"><img class="header_image" src="./images/film.svg" alt="film" width="24" height="24"></a>
                <h1 class="header_title">Filmoteka</h1>
            </div>
            <ul class="header_list">
                <li class="header_item">
                    <a class="header_link" href="">HOME</a>
                </li>
                <li class="header_item">
                    <a class="header_link-active" href="">MY LIBRARY</a>
                </li>
            </ul>
        </div>
        <div class="header_wrapp">
            <button class="header_btn-watched" type="button">WATCHED</button>
            <button class="header_btn-queue" type="button">QUEUE</button>
        </div>
    </div>
</header>