<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>modal</title>
    <link rel="stylesheet" href="/src/sass/modal.scss">
</head>
<body>
    
    <button class="modal__open modal__btn" data-path="modal-card">Open</button>

    <div class="modal__card">
        <div class="modal__card-overlay">
            <div class="modal__card-content" data-target="modal-card">
                <svg class="modal__close"><use href="/src/img/symbol-defs.svg#close"></use></svg>
                <img src="../img/modal/exempel.jpg" alt="" class="modal__img">
                <div class="modal__info">
               
                <h2 class="modal__info-title">A FISTFUL OF LEAD</h2>
                <ul class="modal__info discription__modal">
                <li class="discription__modal-item">
                    <p class="discription__modal-title">Vote / Votes</p>
                    <p class="discription__modal-text"> <span>7.3</span> / 1260</p>
                </li>
                <li class="discription__modal-item">
                    <p class="discription__modal-title">Popularity</p>
                    <p class="discription__modal-text">100.2</p>
                </li>
                <li class="discription__modal-item">
                    <p class="discription__modal-title">Original Title</p>
                    <p class="discription__modal-text">A FISTFUL OF LEAD</p>
                </li>
                <li class="discription__modal-item">
                    <p class="discription__modal-title">Genre</p>
                    <p class="discription__modal-text">Western</p>
                </li>
               </ul>
               <div class="modal__info about__modal">
                <h4 class="about__modal-title">About</h4>
                <p class="about__modal-text">Four of the West’s most infamous outlaws assemble to steal a huge stash of gold from the most corrupt settlement of the
                gold rush towns. But not all goes to plan one is killed and the other three escapes with bags of gold hide out in the
                abandoned gold mine where they happen across another gang of three – who themselves were planning to hit the very same
                bank! As tensions rise, things go from bad to worse as they realise the bags of gold are filled with lead... they’ve
                been double crossed – but by who and how?</p>
               </div>
               <div class="modal__button">
                <button type="button" class="modal__btn-add">add to Watched</button>
                <button type="button" class="modal__btn-add">add to queue</button>
                </div>
            </div>
            </div>
        </div>
    </div>

<script src="/src/js/modal.js" type="module"></script>
</body>

</html>



